PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/billing_db?retryWrites=true&w=majority
FAST2SMS_API_KEY=ZljiY4uCmavsBtW1k6xMy90OnhLKAp7Sz5FRVEceQfrG8PgTobsv6tQkzOp7I0q2VebY8WPHliLnwS5u
JWT_SECRET=your_jwt_secret_key_here_change_in_production
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
SMS_ENABLED=false
TELEGRAM_BOT_TOKEN=8909690184:AAFnlSI-urLc7oPJjjk3QifwjefyU_Tjd8c
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
